---
layout: default
---
{%- assign _projects = site.projects | sort: 'order' -%}
{%- include header.html scrolly_nav=_projects -%}
<!-- Main -->
<div id="main">
	<article class="shade-two">
		{%- if page.content != "" -%}
			{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
		{%- endif -%}

		<!-- Project List -->
		<div class = "row">

			{%- for _project in _projects -%}
				<div class="3u 12u$(mobile)" >
					<div class = "item">
							<a href="{{- _project.url | absolute_url -}}" class = "image snug centered" ><img src="{{ _project.image | relative_url }}" width="300" style="display:block;width:80%;max-width:300px"  /> </a>
							<header>
								<!-- {%- capture _title -%} -->
									<h5><a href="{{- _project.url | absolute_url -}}">{{- _project.title -}}</a></h5>
									
								<!-- {%- endcapture -%} -->

								<!-- {%- capture _subtitle -%} -->
									<p>{{- _project.subtitle -}}</p>
								<!-- {%- endcapture -%} -->

							<!-- {%- assign _content = subtitle -%} -->
							<!-- {%- include section.html title=_title subtitle=_subtitle content=_content -%} -->
						  </header>
					</div>
				</div>
			{%- endfor -%}
		</div>
	</article>
</div>
